@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #962be6;
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-border: #e5e7eb;
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
}

@layer base {
  body {
    @apply bg-background text-text-main antialiased h-screen w-screen overflow-hidden;
  }
}
